 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/ricardo-gomez-angel-AI0jVjE-RkI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 331px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 197px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 99px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 373px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 238px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 17px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 1px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 238px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 238px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 531px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 15px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 593px;
  margin: 26px auto 15px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-3 .u-image-1 {
  height: 299px;
  width: 248px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-3 .u-text-3 {
  width: 176px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 441px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 24px;
  margin-bottom: 43px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 19px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  width: 131px;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 19px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-4 {
  width: 131px;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 19px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-6 {
  width: 131px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 449px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 41px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 377px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-5 .u-text-2 {
  width: 88px;
  margin: 19px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 22px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-5 .u-text-4 {
  width: 88px;
  margin: 19px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 22px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 19px auto 0;
}

.u-section-5 .u-text-6 {
  width: 88px;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 715px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/austin-kehmeier-lyiKExA4zQA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 611px;
}

.u-section-6 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 377px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 22px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 22px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 19px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 22px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  width: 185px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 19px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 311px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 37px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 754px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 45px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1106px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 29px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1107px;
  }
}